@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: #008000;
  height: 100vh;
  display: grid;
}

#up {
  font-size: 50px;
  margin-top: -10px;
}

#center {
  font-size: 50px;
}

#down {
  font-size: 50px;
  transform: rotate(180deg);
  margin-bottom: -10px;
}
